.place-ordered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 242px;
    opacity: 0;
    animation: bounceIn 0.5s ease forwards;
}

.place-ordered.show {
    opacity: 1;
}

.content {
    text-align: center;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    70% {
        opacity: 1;
        transform: translateY(20%);
    }

    100% {
        transform: translateY(0);
    }
}

span {
    color: tomato;
}