.about-us {
  width: 100%;
  display: flex;
  max-height: fit-content;
  margin-top: 80px;
}
.about-left-img {
  width: 450px;
}
.about-right{
  /* flex: 50%; */
}
.title {
  font-size: 2rem;
  color: #fe800b;
}
.about-us-title {
  font-size: 63px;
}
.about-us-desc {
  font-size: 22px;
  color: #636363;
}
.about-h2 {
  font-size: 2.8rem;
  color: #fe800b;
}
.extra {
  font-size: 24px;
}
@media (max-width:1050px){
  .about-us {
    font-size: 80%;
    flex-direction: column;
  }
  .about-left-img {
    width: 400px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  
}
@media (max-width: 750px) {
  .about-us {
    font-size: 80%;
  }
  .title {
    font-size: 1rem;
    color: #fe800b;
    margin: auto;
  }
  .about-us-title {
    /* font-size: 40px; */
  }
  .about-us-desc {
    font-size: 20px;
    color: #636363;
  }
  .about-left-img {
    width: 100%;
  }
  .about-h2 {
    font-size: 2rem;
    color: #fe800b;
  }
  .extra {
    font-size: 16px;
  }
}
