.navbar {
  background-color: rgba(255, 255, 255, 0.268);
  backdrop-filter: blur(9px);
  padding: 20px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar .logo {
  width: 150px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: black;
  font-size: 18px;
}

h2 {
  font-weight: 400;
  color: tomato;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navbar-right .userNameDisplay {
  font-size: 14px;
  width: 156px;
}
.navbar button {
  background: white;
  font-size: 16px;
  color: black;
  border: 2px solid tomato;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s;
}

.navbar button:hover {
  background-color: #fff4f2;
}

.navbar a.active {
  padding-bottom: 2px;
  border-bottom: 2px solid tomato;
}

.navbar li {
  cursor: pointer;
}

.navbar li:hover {
  color: #49557e;
}

.navbar-search-icon {
  position: relative;
}

.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: tomato;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}

@media (max-width: 1050px) {
  .navbar .logo {
    width: 140px;
  }

  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }

  .navbar-right {
    gap: 30px;
  }

  .navbar-right img {
    width: 22px;
  }

  .navbar-right button {
    padding: 8px 25px;
  }
}

@media (max-width: 900px) {
  .navbar .logo {
    width: 140px;
  }

  .navbar-menu {
    gap: 15px;
    font-size: 16px;
  }

  .navbar-right {
    gap: 30px;
  }

  .navbar-right img {
    width: 20px;
  }

  .navbar-right button {
    padding: 7px 20px;
    font-size: 15px;
  }
}

@media (max-width: 800px) {
  .navbar-menu {
    display: none;
  }
}
