.container {
    margin: 20px;
}

.contact_box {

    padding: 20px;
    border-radius: 10px;

}

.contact_heading {
    text-align: center;
    color: #fe800b;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid tomato;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button.sent {
    background-color: #fe800b;
}